p{
    color:red;
}
table,th,td{
    border:1px solid black;
}
table {
    color: black;
  }
  .custom-list {
    list-style-type: square;
    color: blue;
  }
  .animated-heading {
    animation: colorChange 2s linear infinite;
  }
  
  @keyframes colorChange {
    0% { color: rgb(255, 255, 0); }
    50% { color: rgb(0, 213, 255); }
    100% { color: rgb(220, 29, 29); }
  }
  