p{
    color:red;
}
table,th,td{
    border:1px solid black;
}
table {
    color: black;
  }
  .custom-list {
    list-style-type: square;
    color: blue;
  }
  .animated-heading {
    animation: colorChange 2s linear infinite;
  }
  
  @keyframes colorChange {
    0% { color: red; }
    50% { color: blue; }
    100% { color: green; }
  }
  